.user-list-table-container {
  position: relative;
  background: white;
  border-radius: 0.375rem;
  padding: 0 1.25rem;
  border: 1px solid #e5e8ed;
  overflow: auto;
  .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff4a;
    h3 {
      display: inline-block;
      background: #fff;
      margin: auto;
      padding: 1rem 1rem;
      filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
    }
  }
  // white-space: nowrap;

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;

    tr {
      height: 4rem;
      &.table-row {
        border-bottom: 1px solid #e5e8ed;
        td {
          color: #816666;
          &.profile-cell {
            display: flex;
            align-items: center;
            padding: 1rem;
          }
        }
      }
      th {
        text-align: left;
        padding: 0 1rem;
      }
    }
  }
}
